* {
    font-family: 'Courier New', Courier, monospace;
}
.titulo h1{
    text-align: center;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}
.titulo h2{
    font-size: 35px;
    text-align: center;
}

body{
    background-color: rgb(231, 231, 238);
    padding-left: 55px;
    padding-bottom: 25px;
    padding-right: 55px;
    padding-top: 15px;
}


.corpo{
    padding-top: 85px;
  
}

.dadosPessoais{

}